/* fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/* general */
body {
    background: #fff;
    color: #8a8a8a;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
}

a {
    color: #111;
}

a:hover {
    color: #614cab;
    text-decoration: none;
    transition: .5s ease-out;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

p {
    line-height: 26px;
}

.bg-grey {
    background: #f4f4f6;
}

*:focus {
    outline: none;
}


/* navbar */
.navbar {
    padding: 15px 0 15px;
    transition: .5s ease-out;
    background: transparent;
}

.navbar .navbar-brand {
    color: #333;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand img {
    width: 65px;
}

.navbar .navbar-brand-home {
    border-bottom: 3px solid #614cab;
}

.navbar .navbar-nav li {
    padding: 0 15px;
}

.navbar .navbar-nav li a {
    color: #fff;
    font-size: 16px;
}

.navbar .navbar-nav li a:last-child {
    padding-right: 0 !important;
}

.navbar .navbar-nav li:last-child {
    padding-right: 0;
}

.navbar .navbar-toggler i {
    color: #fff;
}

.navbar-fixed {
    background: #fff;
    transition: .5s ease-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

.navbar-fixed .navbar-brand {
    color: #333;
}

.navbar-fixed .navbar-brand span {
    color: #614cab;
}

.navbar-fixed .navbar-nav li a {
    color: #333;
}

.navbar-fixed .navbar-toggler i {
    color: #333;
}

.navbar-transparent {
    background: transparent !important;
}
/* home intro */
.home-intro {
    background: url(../images/bg-intro.png), #f8f5ff;
    background-repeat: no-repeat;
    padding: 130px 0 150px !important;
    background-size: 58%;
    background-position: top right;
}

.home-intro .content-image {
    padding-left: 50px;
}

.home-intro .content-image img {
    height: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.home-intro ul li {
    display: inline-block;
    margin-right: 20px;
}

.home-intro .content {
    padding-top: 20px;
}

.home-intro h5 {
    margin-top: 40px;
    letter-spacing: 1px;
}

.home-intro h5 .line {
    height: 3px;
    background: #614cab;
    width: 60px;
    display: inline-block;
    position: relative;
    bottom: 5px;
    margin-right: 15px;
}

.home-intro h2 {
    font-size: 102px;
    font-weight: 700;
    margin: 60px 0;
    line-height: 54px;
    letter-spacing: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #614cab;
}

.home-intro h2 span {
    color: #614cab;
}

.home-intro h6 {
    color: #444;
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 15px;
}
/* about us */
.about .content {
    background: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    cursor: default;
}

.about .content i {
    font-size: 56px;
    color: #614cab;
}

.about .content h5 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.about .content:hover {
    background: #614cab;
    color: #fff;
    transition: .7s ease-out;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.about .content:hover i {
    color: #fff;
}

.about .content:hover h5 {
    color: #fff;
}
/* section */
.section {
    padding: 90px 0 100px;
}

.title-section {
    text-align: center;
    margin-bottom: 50px;
}

.title-section p {
    color: #614cab;
    margin-bottom: 15px;
    display: block;
}

.title-section h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 6px;
}

.title-section h3 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #614cab;
}

/* services */
.services .content {
    background: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    cursor: default;
    margin-bottom: 30px;
}

.services .content i {
    font-size: 56px;
    color: #614cab;
}

.services .content h5 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.services .content:hover {
    background: #614cab;
    color: #fff;
    transition: .7s ease-out;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.services .content:hover i {
    color: #fff;
}

.services .content:hover h5 {
    color: #fff;
}

.services .completed {
    background: #fff;
    text-align: center;
    padding: 60px 0;
    border-radius: 15px;
    margin-top: 62px;
    margin-bottom: 10px;
    background: url(../images/bg-service3.png) bottom 18px right 18px, url(../images/bg-service1.png) bottom left, url(../images/bg-service2.png) top right 230px;
    background-repeat: no-repeat;
    background-size: 70px, 300px, 190px;
    background-color: #fff;
}

.services .completed h4 {
    font-size: 58px;
    font-weight: 600;
    color: #614cab;
}

.services .completed span {
    font-size: 24px;
    font-weight: 500;
}/*portfolio*/
.portfolio .row .col-md-4 {
    padding: 15px;
}

.portfolio .portfolio-filter-menu {
    margin-bottom: 30px;
    text-align: center;
}

.portfolio .portfolio-filter-menu ul li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #614cab;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #444;
    letter-spacing: 1px;
    transition: .4s ease-in-out;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 6px;
}

.portfolio .portfolio-filter-menu ul li span {
    z-index: 99;
    position: relative;
}

.portfolio .portfolio-filter-menu ul li.active {
    background: #614cab;
    color: #fff;
}

.portfolio .content-image {
    position: relative;
}

.portfolio .content-image:hover .image-overlay {
    opacity: 0.7;
}

.portfolio .content-image:hover .portfolio-caption {
    opacity: 1;
}

.portfolio .content-image img {
    width: 100%;
    border-radius: 15px;
}

.portfolio .content-image img:visited {
    outline: none;
}

.portfolio .content-image img:focus {
    outline: none;
}

.portfolio .content-image .portfolio-caption {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 40%;
    color: #333;
    text-align: center;
    opacity: 0;
    transition: all .5s ease;
    color: #fff;
}

.portfolio .content-image .portfolio-caption h4 {
    font-size: 20px;
    color: #333;
    font-weight: 600;
    color: #fff;
}

.portfolio .content-image .portfolio-caption .subtitle {
    margin-top: 22px;
    top: 52px;
    position: relative;
    text-align: right;
}

.portfolio .content-image .portfolio-caption ul li {
    display: inline-block;
    margin: 0 5px;
}

.portfolio .content-image .portfolio-caption i {
    width: 30px;
    height: 30px;
    background: #333;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.portfolio .content-image .image-overlay {
    background: #614cab;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    opacity: 0;
    transition: all .5s ease;
    margin: auto;
}
/* section */
.section {
    padding: 90px 0 100px;
}

.title-section {
    text-align: center;
    margin-bottom: 50px;
}

.title-section p {
    color: #614cab;
    margin-bottom: 15px;
    display: block;
}

.title-section h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 6px;
}

.title-section h3 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #614cab;
}

/* services */
.services .content {
    background: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 30px;
    cursor: default;
    margin-bottom: 30px;
}

.services .content i {
    font-size: 56px;
    color: #614cab;
}

.services .content h5 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.services .content:hover {
    background: #614cab;
    color: #fff;
    transition: .7s ease-out;
    box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

.services .content:hover i {
    color: #fff;
}

.services .content:hover h5 {
    color: #fff;
}

.services .completed {
    background: #fff;
    text-align: center;
    padding: 60px 0;
    border-radius: 15px;
    margin-top: 62px;
    margin-bottom: 10px;
    background: url(../images/bg-service3.png) bottom 18px right 18px, url(../images/bg-service1.png) bottom left, url(../images/bg-service2.png) top right 230px;
    background-repeat: no-repeat;
    background-size: 70px, 300px, 190px;
    background-color: #fff;
}

.services .completed h4 {
    font-size: 58px;
    font-weight: 600;
    color: #614cab;
}

.services .completed span {
    font-size: 24px;
    font-weight: 500;
}